:root {
  --background-color: radial-gradient(#e26d5c, #723d46);
  --color: rgb(5, 5, 5);
  --loading-color: #ffe1a8;
}

[data-theme="dark"] {
  --color: rgb(250, 250, 250);
  --loading-color: #472d30;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}
