@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import "./variables.scss";

.cards-body {
  box-sizing: border-box;
  place-items: center center;
  height: 100%;
  width: 100%;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  max-width: 1024px;
  padding: 1rem;
  margin: 0 auto;

  @media (min-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
